{% extends 'testcase/tchome.html' %}
{% load static %}

{% block tchome %}

<div class="flex justify-stretch">
    <div class="w-full items-center shadow-lg rounded-lg m-10">
        <div class="flex">
            <div class="text-grey-300 text-xl font-bold m-10">Add Configuration</div>
        </div>
        <div class="flex">
            <div class="w-full">
                <form action="" method="POST" id="config-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-1">
                            <div class="flex w-full">
                                <label class="w-1/2 text-sm ml-10">{{ field.label_tag }}</label>
                                {% comment %} <div class="w-1/2 border border-gray-300 rounded-lg mr-10 px-2"> {% endcomment %}
                                <div class="w-1/2 border border-gray-300 rounded-lg mr-10 px-2">
                                    {{ field }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {{ form.errors }}
                    <div class="w-1/4 submit-step bg-green-500 px-2 py-2 text-white text-center font-bold mt-4 ml-10">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% comment %} <script src="{% static 'testcase/js/test_step.js' %}"></script> {% endcomment %}
{% comment %} <!-- Rest of your HTML content -->
<iframe src="{{ success_url }}" width="100%" height="400"></iframe>
<!-- Rest of your HTML content --> {% endcomment %}

{% endblock tchome %}
