{% extends 'testcase/base.html' %}

{% block content %}

<h1>Test case detail</h1>
<ul>
    {% comment %} {% for field in detail %}
    <li>
        Test Case ID: {{ field.cqid }}
        <br>
        Test Case Name: {{ field.title }}
        <!-- Add other fields you want to display here -->
        <br>
    </li>
    {% endfor %} {% endcomment %}
    <li>
        CQID : {{ detail.cqid }}
    </li>
    <li>
        Title : {{ detail.title }}
    </li>
    <li>
        Summary : {{ detail.summary }}
    </li>
    {% comment %} <li>{{ detail.test_steps_list }}</li> {% endcomment %}
    {% for step in detail.test_steps_list %}
        <li>{{ step }}</li>
    {% endfor %}
</ul>

{% endblock content %}