{% extends 'base.html' %}

{% load static %}
{% block content %}

<h2>Welcome to tchome</h2>

<div class="flex justify-between items-stretch space-x-5">

    <!-- ===================================== -->
    <!--     Block for Showing Modules List    -->
    <!-- ===================================== -->
    <div class="flex h-screen w-0.75/6">
        <div class="flex flex-col h-screen bg-purple-400 w-full">
            <div class="items-left">
                <div class="text-grey-300 text-xl text-left font-bold p-5 mr-5">Wingman Dashboard</div>
                    <!-- Sidebar content goes here -->
                    <ul class="py-4 grow">
                        <li class="px-4 py-2 hover:bg-yellow-300 hover:font-bold">Test Modules</li>
                        <li class="px-4 py-2 hover:bg-yellow-300 hover:font-bold">My Test Cases</li>
                        <li class="px-4 py-2 hover:bg-yellow-300 hover:font-bold">Settings</li>
                        <!-- Add more menu items as needed -->
                    </ul>
                    <div class="grow h-20"></div> <!-- This creates empty space to push the next items to the bottom -->
                    <div class="p-4 self-auto">
                        <ul class="space-y-2">
                        <li class="p-2 bg-white rounded shadow">Profile</li>
                        <li class="p-2 bg-white rounded shadow">Settings</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- ===================================== -->
    <!--      Block for Showing Module Form    -->
    <!-- ===================================== -->
    {% comment %} <div class='w-2/6 items-center shadow-lg m-4'> {% endcomment %}
    <div class='w-2/6 float-left'>
        <div class="p-2 shadow-lg rounded-lg m-10">
            {% block tchome %}{% endblock tchome %}
        
        </div>
        <div class="p-2 shadow-lg rounded-lg m-10">
            {% block analytics %}
            
            <div id="teststep-container">
                {% include 'testcase/teststep_detail.html' %}
            </div>
            
            {% endblock analytics %}
        </div>
    </div>

    <!-- ===================================== -->
    <!--    Block for Showing Test Step Cart   -->
    <!-- ===================================== -->
    <div class='w-1/6'>
        <div class="text-xl font-bold mt-4 mb-2 px-5 py-5 bg-gradient-to-r from-indigo-600 to-pink-500 text-white text-center">
            Test Case
        </div>
        
        <div class="max-h-[300px] overflow-y-auto border-0">
            <div class="tc-cart p-4">
                    So empty here...submit your first test step!
            </div>
        </div>

        <div class="text-bold">
            <div class="bg-green-500 text-white text-center rounded-sm m-4 font-bold px-2 py-3 submit-to-db" id="submit-to-db">
                <input type="submit" value="Submit to DB">
            </div>
        </div>
    </div>
    <div class='w-2/6'>
        <h1>Dummy Space</h1>    
    </div>

</div>

<script src="{% static 'testcase/js/test_step.js' %}"></script>

{% endblock content %}