{% extends 'base.html' %}

{% load static %}
{% block content %}

<h2>Welcome to tchome</h2>

<div class="flex justify-between">

    <!-- ===================================== -->
    <!--     Block for Showing Modules List    -->
    <!-- ===================================== -->
    <div class="w-1/5 items-center shadow-lg ml-10">
        <div class="text-grey-300 text-xl font-bold m-10">Test Modules</div>
    </div>



    <!-- ===================================== -->
    <!--      Block for Showing Module Form    -->
    <!-- ===================================== -->
    <div class='w-3/5 items-center shadow-lg m-4'>
        {% block tchome %}

        {% endblock tchome %}
    </div>

    <!-- ===================================== -->
    <!--    Block for Showing Test Step Cart   -->
    <!-- ===================================== -->
    <div class='w-1/5 items-center shadow-lg mr-10'>
        <div class="text-grey-300 text-xl font-bold m-10">Test Case</div>
        <div class="grid tc-cart grid-cols-1 gap-4">
            <div class="grid justify-items-stretch">
                <div class="border border-grey-600 m-4 rounded-sm">
                    So empty here...submit your first test step!
                </div>
            </div>
        </div>
        <div class="text-bold">
            <div class="bg-green-500 text-white text-center rounded-lg m-4 font-bold px-2 py-3 submit-to-db" id="submit-to-db">
                <input type="submit" value="Submit to DB">
            </div>

        </div>
    </div>

</div>

<script src="{% static 'testcase/js/test_step.js' %}"></script>

{% endblock content %}