{% comment %} {% block analytics %}

<div class="container">
    <p>Analytics</p>
    {{ teststep_detail }}
    {{ teststep_detail.step }}
    {{ teststep_detail.test_cases }}
    {% for tc in teststep_detail.test_cases.all %}
        <h1>{{ tc.cqid }}</h1>
        <p>{{ tc.title }}</p>
        <p>{{ tc.summary }}</p>
    {% endfor %}
    <!-- Add other fields or content as needed -->
</div>

{% endblock analytics %}

 {% endcomment %}


 {% block analytics %}

<div class="container">
    <p>Analytics</p>
    Test Step detail : {{ teststep_detail }}
    Test Case : {{ teststep_detail.test_cases.all.0.cqid }}
    Test Case : {{ teststep_detail.test_cases.all.0.title }}
    Test Case : {{ teststep_detail.test_cases.all.0.summary }}
    {% comment %} Printing list here
    {% for teststep in teststep_detail_list %}
        <h1>{{ teststep.step }}</h1>
        <h1>{{ teststep.created_on }}</h1>
    {% endfor %} {% endcomment %}
    <!-- Chart -->
    {% comment %} <div class="w-full h-4/6 shadow-lg rounded-sm shadow hover:shadow-2xl m-1"> {% endcomment %}
        
        {% comment %} <div class="h-auto shadow hover:shadow-2xl m-1">
            <canvas id="myChart-0"></canvas>
        </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    
    <!-- Add other fields or content as needed -->
</div>

{% endblock analytics %}