{% extends 'testcase/base.html' %}

{% block content %}

<div class="flex flex-col justify-center items-center min-h-screen">
    <h1 class="font-bold text-xl"> New to webiste, Register now! </h1>

    <form class="shadow-lg p-10 m-5" action="/auth/users/" method="POST">
        {% csrf_token %}
        {% for field in form %}

            <div class="mb-2">
                {{field.label_tag}}
                <div class="border rounded-sm py-2 px-2 mr-10">
                    {% comment %} <input type="text" name="name" placeholder="Name"> {% endcomment %}
                    {{field}}
                </div>
            </div>

        {% endfor %}        
        {% comment %} <div class="mb-2">
            <label for="">Name</label>
            <div class="border rounded-sm py-2 px-2 mr-10">
                <input type="text" name="name" placeholder="Name">
            </div>
        </div>

        <div class="mb-2">
            <label for="">Email</label>
            <div class="border rounded-sm py-2 px-2 mr-10">
                <input type="text" name="email" placeholder="Email">
            </div>
        </div>

        <div class="mb-2">
            <label for="">Password</label>
            <div class="border rounded-sm py-2 px-2 mr-10">
                <input type="password" name="password" placeholder="Password">
            </div>
        </div>

        <div class="mb-2">
            <label for="">Re-enter Password</label>
            <div class="border rounded-sm py-2 px-2 mr-10">
                <input type="password" name="password2" placeholder="Password">
            </div>
        </div>

        <div class="mb-2">
            <label for="">TC</label>
            <div class="border rounded-sm py-2 px-2 mr-10">
                <input type="checkbox" name="tc" value="TC">
            </div>
        </div> {% endcomment %}
        
        <div>
            <input class="bg-green-500 text-white rounded-sm px-4 py-2" type="submit" value="Register">
        </div>
        {{form.errors}}

            {% comment %} <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password"> {% endcomment %}

    </form>

    <!--
        Added Register link
    -->

    <p class="m-10">
        Already Registered? <span> <a class="text-indigo-500 font-bold" href="{% url 'users:login' %}">Login now!</a> </span>
    </p>

</div>
{% endblock content %}